<div class="sidebar">
	<div class="container sidebar-sticky">
		<div class="sidebar-about">

			<h1>
				<a href="/">
					An
					Irregular<i class="fas fa-arrow-alt-circle-left"></i>Blog
				</a>
			</h1>
			<p class="lead"></p>
			<p class="lead">{{ BIO }} </p>
			<p></p>
		</div>
		<nav class="sidebar-nav">
			<a class="sidebar-nav-item" href="mailto:paulATirregularengineering.com">
				<i class="fa fa-envelope"></i>
			</a>
			<a class="sidebar-nav-item" href="https://www.irregularengineering.com">
				<i class="fas fa-italic"></i><i class="fas fa-arrow-alt-circle-left"></i>
			</a>
			<a class="sidebar-nav-item" href="https://www.irreng.com">
				<i class="fas fa-home"></i>
			</a>
		</nav>
	</div>
</div>
